[2015-11-16 21:41] alex-soft-r opened #1 "What about Google Maps"
Can i take screenshoot of fragment with GoogleMaps ?

[2015-11-17 02:16] jraska commented on #1
Hi,

Unfortunately, GoogleMap uses OpenGL layer and we don't have access to it, therefore it is not possible to draw its content through View objects so the answer is no.

[2015-11-17 23:23] #1 closed

[2016-03-31 09:37] harcoPro opened #2 "What about Here Maps?"
What about Here Maps?

[2016-03-31 20:32] jraska commented on #2
Hello, I cannot see what rendering technique they use for drawing maps in their MapView documentation.

It would be possible to say only by inspecting their source code, but I expect they use OpenGL drawing for their maps, which means it would not be possible for Falcon library to capture the map layer.
Do you use their maps SDK?

[2016-04-07 06:58] sachinmutthe opened #3 "Screenshot is Blank for Surfaceview"
Hi,

I have used your library for testing but it's saving blank for surface views.

[2016-04-07 17:17] jraska commented on #3
Hello, thank you for using my library.

SurfaceView is is kind of special View providing basically just transparent drawing region for some other component to draw and another thread is drawing into it. a you can see here.
http://developer.android.com/reference/android/view/SurfaceView.html

May you please try postpone taking the screenshot to SurfaceHolder.Callback or even later, because when the

[2016-04-13 19:01] jraska commented on #3
Hello again, I tried it with SurfaceView and the screenshots are not taken, since SurfaceView is often drawn from native code (for example Camera preview) and therefore it is sadly not possible for Falcon to capture this without going to native code. I tried few workarounds, but from the nature of issue I believe it is not possible.
I will be happy if anyone finds a way for accessing it without us

[2016-04-24 10:40] #3 closed

[2016-04-26 14:11] hansvdg opened #4 "FalconSpoon dialog screenshot"
When writing UI tests with espresso the captured FalconSpoon screenshot does not include the dialog I expect to be there.

Open Activity
Trigger dialog (AlertDialog.create...show());
verify that the dialog is present with:
onView(withText("hello dialog").check(matches(isDisplayed()));
FalconSpoon.screenshot(getActivity(), "Dialog_test");

[2016-04-27 21:39] afaucogney opened #5 "Screenshot are half size for dialog"
I use SpoonFalcon to capture dialog from the material-dialog lib https://github.com/afollestad/material-dialogs

When I capture, I get this:

![1461792397293_chargement_login_screen](https://cloud.githubusercontent.com/assets/6554201/14869022/1ad6e0d6-0cd1-11e6-9f59-b5868d63c6cc.png)

Nothing on the log, tried 2 times = same results

[2016-04-27 22:11] jraska commented on #4
Hi, I will try it during weekend. First thing which comes to my mind is maybe the dialog is not visible yet, because it take some times before the dialog appears in UI. You can check my idea with postponing screenshot capture for a second. Otherwise I will do it myself later.

[2016-04-27 22:20] jraska commented on #5
Hi,

This is the whole screenshot? Can you please tell me which device you are testing on and maybe a bit about the dialog you are showing? I will try to reproduce and find the cause.

[2016-04-28 07:20] afaucogney commented on #5
Yes this is the whole screenshot. I did a short mistake. This is an Activity that is shown as a dialog, then from this activity-dialog, I open another dialog that keeps the same size on screenshot (as what I see, the screenshot height seems to be the activity-dialog background (white frame) height, but not vertical_center). Just an assumption !

Here is the layout:

[code]

Here is a screenshot do

[2016-04-28 09:23] hansvdg commented on #4
Hi, I tried a thread.sleep(2000), but that didn't help.
The dialog should be instantly visible, it is triggered as part of the screen startup and there are no animations running on the device.

[2016-04-28 21:49] jraska commented on #4
Hi, ok thank you, is there maybe anything unusual about your dialog? Do you use any library or custom dialog displaying or you just simply call system Alert dialog with message and title? I am trying to gather more information, because I believe it normally works for dialogs, so I am trying to find the difference in your case.

[2016-04-28 21:50] jraska commented on #5
Hi thank you, I think you could find a bug, I will try to reproduce and I will try to fix it soon.

[2016-04-30 09:54] hansvdg commented on #4
Hi, it is just a regular system AlertDialog with title, message and buttons.

[2016-05-04 20:32] jraska commented on #4
Hi, that is weird, I will double check it when I will find some time, but AlertDialogs are generally working fine, so I believe it should be fine, but obviously its not.

Another idea: When I look at the code you posted above, could it be that `getActivity()` returns different activity then is currently at the top of Activity stack? It could happen for example when some of your tested activities c

[2016-05-12 09:29] vbauer opened #6 "FAILURE: Build failed with an exception. android.buildToolsVersion is missing!"
[code]

[2016-05-12 17:32] jraska commented on #6
Hello, thank you for notice.
May you please give me a bit more information how you made this to happen? Which task did you try to run? Do you run the task from command line or from Android Studio?

I just downloaded master zip as you and tried to create project and works fine for me, so I am not sure if this is library related or more environment related.

[2016-05-12 17:54] vbauer commented on #6
Hello, actually everything is fine and it was my bad. I played with CI server and made some mistakes.. Sorry for your spent time!

[2016-05-12 17:54] #6 closed

[2016-05-12 18:46] jraska commented on #6
No problem ;)

[2016-05-14 23:06] jraska commented on #4
Hello, I wrote sample unit test with your scenario described and everything works fine.
Please find example test [here](https://github.com/jraska/Falcon/blob/master/falcon-sample/src/androidTest/java/com/jraska/falcon/sample/EspressoSpoonTest.java).

I also updated Spoon dependency so you can try new Falcon version 1.0.1.

[2016-05-17 20:32] hansvdg commented on #4
Hi,

The test works on both device and emulator and I could create a similar scenario in my app to get it to work.
That is, press a button to show a dialog and capture a screenshot.
If the dialog is triggered in the startup of the activity (in my case in response to a mocked api call) the dialog is not in the screenshot.
I think it has something to do with timing, but cannot yet find out why.

Tha

[2016-05-17 21:41] jraska commented on #4
No problem.

Good luck with finding the solution. I will close the issue now.

[2016-05-17 21:41] #4 closed

[2016-05-25 11:18] stephanepechard opened #8 "Failed to resolve Falcon"
Hi,

After adding `compile 'com.jraska:falcon:1.0.1'` in my [client-android](https://github.com/PhotoBackup/client-android/blob/master/build.gradle) (on line 62, but not visible here as it is not commited), I get a gradle error: `Failed to resolve: com.jraska:falcon:1.0.1`.
Do I miss something in the integration?

Thanks

[2016-05-25 11:29] jraska commented on #8
Hi,

I think it is because Falcon is not on `mavenCentral()`, but on `jcenter()`. You can fix this with adding `jcenter()` into your `repositories` closure like
[code]

[2016-05-25 11:54] stephanepechard commented on #8
Thanks, it works now. Maybe you can add this to the documentation, to avoid other people to make the same mistake.
Thanks

[2016-05-25 11:54] #8 closed

[2016-05-25 20:21] jraska commented on #8
No problem.
Thanks for using the library ;)

[2016-07-20 09:02] mathroule opened #10 "NullPointerException on Falcon.drawRootToBitmap"
When using Falcon with Spoon for instrumentation tests, this exception appears sporadically :

The stack trace:
[code]

I could add the full Spoon trace if needed.

[2016-07-20 14:42] arkus7 opened #11 "Falcon misses DialogFragments and AlertDialogs"
I'm trying to use Falcon in my app, but it seems to don't save the view of DialogFragments and AlertDialogs. It seems strange, but my app looks nearly same as your sample.

[code]

Screenshot has view of activity, with Toast and Snackbar, but the dialog is missing. Same for DialogFragment (commented out).

[2016-07-25 00:35] jraska commented on #10
Hi, thank you for reporting this.
Can you please tell me on which device is this happening. It would be nice if you could include the whole test case and I can try to reproduce it.
Please include the Spoon trace as well.

[2016-07-25 00:43] jraska commented on #11
Hi, that seems strange, capturing dialogs work and it is the main feature of Falcon. Is my sample working with your device?

[2016-07-26 01:02] jraska commented on #2
Closing the issue. Maps use most probably OpenGL rendering which makes impossible for Falcon to capture their data.

[2016-07-26 01:02] #2 closed

[2016-07-26 04:13] arkus7 commented on #11
Yes, sample is working, but when I copied code from your sample to my app
it wasn't working.

On Jul 25, 2016 02:43, "jraska" <notifications@github.com> wrote:

[2016-07-26 22:47] jraska commented on #11
Ok so I finally found the problem. When the dialog is shown directly in onCreate method of Activity it is missed in screenshot, because it is overdrawn by activity layout, which is added to global layout manager after the dialog in this case. I will have a look if it is possible to fix it somehow.

Thank you for reporting it.

[2016-07-26 22:55] jraska commented on #5
Sorry for taking it so long. It should be fixed with e5a13cd. I will close the issue when I release it.

[2016-07-26 22:57] jraska commented on #10
Should be fixed with 0ac416.
It will log an error when the null View in layout manager occurs.

I'm still not sure how this can be possible and if you could provide full test case it might be handy.

I will close the issue when I release new version.

[2016-07-27 01:26] jraska commented on #10
Version 1.0.2 released

[2016-07-27 01:26] #10 closed

[2016-07-27 01:26] jraska commented on #5
Version 1.0.2 released. If you can, please check it helped.

[2016-07-27 01:26] #5 closed

[2016-07-27 07:01] mathroule commented on #10
Thanks for the fix!

[2016-07-27 23:12] #11 closed

[2016-07-28 00:02] jraska commented on #11
Fix was released now, please give a try version 1.0.3.

[2016-08-03 15:36] tererecool opened #12 "Why 2 dependencies?"
Could you please explain why following 2 additions are necessary?:

compile 'com.jraska:falcon:1.0.3'
androidTestCompile 'com.jraska:falcon-spoon-compat:1.0.3'

What's the difference between both?

[2016-08-03 17:38] jraska commented on #12
Hi,

'com.jraska:falcon:1.0.3' dependency contains Falcon class itself without any dependencies.

'com.jraska:falcon-spoon-compat:1.0.3' contains FalconSpoon class and also dependency to Spoon.

That means when you include the falcon dependency, you can already take screenshots without any other dependency and when you include spoon-compat dependency, you can use Falcon with Spoon together, but yo

[2016-08-08 08:25] #12 closed

[2016-08-08 09:23] michael-mohemian opened #13 "MediaPlayer and TextureView"
I am using https://github.com/yqritc/Android-ScalableVideoView to render a video stream in a TextureView.
I tried FalconSpoon, but the stream is not included in the screenshot.

Is it related to the fact that ScalableVideoView is using MediaPlayer? Any help/workaround is much appreciated.

[2016-08-08 20:51] jraska commented on #13
Hi, thank you for using Falcon.

I am sorry, but Falcon cannot take screenshot from TextureView or any other View based on drawing content stream or OpenGL(SurfaceView, maps) coming from native APIs.
These Views unfortunately draw nothing when you call `draw(Canvas)` on them and I don't have access to the frames provided by MediaPlayer.

[2016-08-08 20:52] jraska commented on #13
There could be a workaround with `TextureView.getBitmap()` method. When I will have some spare time, I will look into it. Leaving open.

[2016-08-15 21:26] tir38 opened #14 "Should Falcon also capture status bar contents and displayed keyboard?"

[2016-08-15 22:40] jraska commented on #14
Hello, unfortunately no.

Falcon has access only to Views owned by your application.

[2016-08-16 03:17] tir38 commented on #14
ahh ok thanks.

[2016-08-16 03:17] #14 closed

[2016-09-10 00:38] jraska commented on #13
Hi, I found some time to look into it and I think I cannot fix it in reasonable amount of time and code.
The problem is when I will handle particular view of view hierarchy, I need to handle its coordinates on canvas, which is easy, but bigger problem is I need to handle visibility with other views is the TextureView is upfront, behind or partially behind some view.
Once I start to do this for any

[2016-09-10 00:38] #13 closed

[2016-09-22 16:54] tererecool opened #15 "Screenshot shows activity despite it is closed"
I have a test that closes the main activity and then takes a screenshot. On this the activity passed as function parameter can be seen, despite in reality the home dashboard of the phone is shown, is this because the screenshot function uses internally the espresso screenshot function and not UiDevice.takescreenshot()? Is there a way I can use Falcon and get what I am really seeing on the screen?

[2016-09-22 19:56] jraska commented on #15
Hi,

Falcon takes the screenshot of the activity passed into constructor. It has no information what is actually visible on the screen outside you application. For example it will never take screenshot of homepage or system screens.

It basically draws Views of your app into bitmap, so it does the screenshot of what is passed into the function.

[2016-09-25 18:31] #15 closed

[2016-11-16 08:49] vikash1711 opened #16 "sluggish issue in case of scrolling."
I was using this code.
I am facing sluggish issue while taking the screenshots during scrolling. Just a little discontinuity, so no smooth scrolling.
I tried debugging, and I narrowed down which part of the code is giving this, where we are posting a task on UiThread to capture screenshots and overlap in the case of multiple views.
activity.runOnUiThread(new Runnable() {
        @Override

[2016-11-16 09:34] jraska commented on #16
Hi, thank you for using Falcon library and your question.

I'm afraid I cannot do anything with this. There is basically only drawing Views to Bitmap Canvas, which is expensive, because it needs to set milions of values in Bitmap array.

I'm not aware about any technique how to make it faster so it will always take some time to take screenshot.

[2016-11-16 12:49] snechiporenko opened #17 "When screen orientation is landscape, screenshot taken previously activity (portrait) also."
![screenshot 12](https://cloud.githubusercontent.com/assets/5830975/20347849/89350aba-ac0b-11e6-9f41-95b388d3959a.png)

[2016-11-16 21:23] jraska commented on #17
Hi, thank you for reporting this, sounds like a bug.

I will look into it once I got a time. What Falcon does is just taking all attached windows from WindowManager and smash them into screenshot. Probably if there is some Activity below which is not rotated it is taken to screenshot as well.

[2016-11-20 21:39] #16 closed

[2016-12-09 21:05] jaredsburrows opened #19 "Can we not throw UnableToTakeScreenshotException?"
Can we not throw `UnableToTakeScreenshotException`? See https://github.com/jraska/Falcon/blob/master/falcon/src/main/java/com/jraska/falcon/Falcon.java#L65.

I am seeing a few tests fail because of failing to take a screenshot. The tests I am seeing fail are usually very stable. Can we just log the screenshot failure? The screenshots are nice to have but I do not have to have them. I just want my

[2016-12-11 08:12] jraska commented on #19
Hello,

Couldn't you wrap your screenshot calls into try catch with `UnableToTakeScreenshotException`?

I don't want to change it now, because the exception is now basically part of public API.6

[2016-12-11 08:15] jaredsburrows commented on #19
@jraska When you have so many tests, that could be alot of wrapping. I am just asking to remove that line, if it fails, it can fail gracefully.

[2016-12-11 08:23] jraska commented on #19
I can understand what you mean, but I prefer exception agains silently doing nothing. Logging is not visible enogh for me, but that is just about opinion.

Anyway some people might be already doing this wrapping and removing the exception can be then breaking change, which is the main reason why I will not do that, sorry. It would mean version 2.0.

[2016-12-11 08:24] jaredsburrows commented on #19
Alright, thanks. I saw a few builds break because of this exception. I am not sure if it was the emulators or the test itself. Either way, I just wanted to report this to get some context. Thanks for answering. Great library by the way!

[2016-12-11 08:24] #19 closed

[2016-12-11 08:26] jraska commented on #19
Thanks for using it and for feedback. :)

[2016-12-14 14:15] Sorbh opened #20 "Progress dialog Issue"
Hello,
My application is capturing screen shot  in every 500ms using your library to gether user behavior imformation, everything working fine until progress dialog shown by app, after it appear in every frame even though its been dismissed in application but its still showing in frame or screenshot. Only facing this problem with progress dialog , alert dialog or other custom dialog box working fi

[2016-12-14 20:40] jraska commented on #20
Hello, thanks for reporting this with such good image. :)

Please could you provide sample which will reproduce that? I'm afraid it will be difficult for me to reproduce and fix it without that.

Maybe just an idea is progress dialog properly dismissed? As I see on gif it is overlayed with AlertDialog and then new activity is started or previous one with ProgressDialog finished?

Thanks

[2017-01-25 08:24] nsagnett commented on #17
Hi there !

It's just view visibility issue. Before add a new ViewRootData elements in the result list, you can check if view is shown (line 218):
[code]
It works for me.

[2017-02-02 19:38] #17 closed

[2017-02-02 19:39] jraska commented on #17
@nsagnett Thank you very much for the suggestion. Works and was tested. I will release new version with fix soon.

[2017-02-02 19:48] jraska commented on #20
I tried to reproduce the issue with progress dialog and I cannot make it. If this is still happening to you please reopen the issue and maybe provide brief sample of the behaviour.

Closing it now as I cannot reproduce it.

[2017-02-02 19:48] #20 closed

[2017-06-20 20:11] fivestargamer opened #22 "Status bar screencap"
I need a way to screencap the android status bar while falcon or spoon takes a screenshot

[2017-06-20 22:10] jraska commented on #22
Hi,

Unfortunately neither Falcon nor Spoon can do that for you, because status bar is not part of your app and therefore there is no access to that.

To be able to capture status bar you would need to use adb or maybe some other tool from Android SDK, but that is out of scope of this library.

[2017-06-20 22:10] #22 closed

[2017-07-11 06:42] shujikemobile opened #23 "android can't display soft keyboard view in the screenshot"

[2017-07-11 06:53] #23 closed

[2017-08-29 17:21] futhrevo opened #24 "Does not work when the activity contains mapview"
If there is a mapview in the layout it is being rendered as black solid with only Google logo on it.

[2017-08-29 18:06] jraska commented on #24
Hi,

Unfortunately, GoogleMap uses OpenGL layer and we don't have access to it, therefore it is not possible to draw its content through View objects, which we use so that is the reason why.

I will be happy for any solution to this problem, because you are not the only one having that problem: #1 .

[2017-08-29 18:06] #24 closed

[2018-01-03 13:37] nagesh-kashyap-r opened #26 "Getting exception"
Please help.

i'm getting this exception

_**"Attempt to read from field 'android.graphics.Rect android.view.View$AttachInfo.mTmpInvalRect' on a null object reference"**_

This exception occurs occasionally.
Could not find exact issue.

Calling .takeScreenshotBitmap() inside a **ScheduledThreadPoolExecutor**  to take ScreenShots continuously (5 ScreenShots per sec).

Should i call the function  .t

[2018-01-04 09:18] jraska commented on #26
Hello, thank you for using the library and I'm sorry for the issue.

Falcon switches to UI thread automatically, so doing this off the UI thread on Executor isn't an issue.

It sounds like there is tiny time window where those fields can be null. Could you please post here the stack?

I will have a look but I guess there is no fix and Falcon will just fail with `UnableToTakeScreenshotException`. W

[2018-01-09 05:04] nagesh-kashyap-r commented on #26
Sorry for late reply,

I couldn't reproduce the issue.

I'll post the **stack-trace** later.

Thanks

[2018-01-09 09:16] abhishek-ramkrishna opened #27 "Lollipop update view problem"
The falcon library works great across android versions. But i see a concern with lollipop. When the view gets updated, eg: Tap on edit text and start typing. Now use falcon to capture screen . The screen shot has old view where it was not  updated. However it works well on jelly bean,kit kat, marshmallow,nougat & Oreo.

Thanks.

[2018-01-10 17:50] jraska commented on #27
Hello,

Could you please provide some test case demonstarting the issue?

The problem is the only thing Falcon does at the end is calling `View.draw(Canvas)` on the root view.

The problem you are describing sounds like the View is not drawing it to the Canvas and I'm afraid Falcon can do very little about it.

[2018-01-10 17:54] jraska commented on #26
Ok, please reopen the issue if you will still have the problem.

My suggestion would be as I wrote to wrap the Falcon method with try catch and do error handling logic.

[code]

Other thing is Falcon does not even access `android.view.View$AttachInfo.mTmpInvalRect` so I'm not sure how this exception occurs during screenshot capturing.

[2018-01-10 17:54] #26 closed

[2018-01-23 19:58] jraska commented on #27
@abhishek-ramkrishna Any update here please?

[2018-02-06 21:21] jraska commented on #27
Closing this now for lack of information. Please if you can attach stack trace or better test case reproducing this that would help. Please reopen the issue in such case.

[2018-02-06 21:21] #27 closed

[2018-02-07 12:33] snechiporenko opened #29 "Crash when call not in UI Thread"
Sometimes there is a fall.
I think it is related to the display of dialogs

[code]
Maybe you can add catch to this block:
[code]
Thanks for your work.

[2018-02-08 20:37] jraska commented on #29
Hello, thank you for reporting this. Does it happen always for your case or only sometimes?

I think I have a fix in my head and I will do it next week.

[2018-02-11 17:21] jraska opened #30 "FalconSpoon class present in 2.0.0 release"
Probably due to not cleaning the local build, it is present in aar. New release will follow.

[2018-02-12 20:37] #29 closed

[2018-02-12 20:48] jraska commented on #29
Fix made and released version `2.0.1`

Right now the app does not crash, but we still throw `UnableToTakeScreenshotException` to be consistent with rest of the library. Anyway, we do it on correct thread calling `Falcon.takeScreenshot` not on main thread, so we either fail the test only, or one can catch this exception.

More about why we use this exception and not only logging can be found here:

[2018-02-12 20:55] jraska commented on #30
Resolved by https://github.com/jraska/Falcon/releases/tag/2.0.1

[2018-02-12 20:55] #30 closed

[2018-03-01 15:18] kocel opened #34 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/squareup/spoon/SpoonRule"
Hi,
I'm trying to use FalconSpoon in my espresso tests, but I keep getting `java.lang.NoClassDefFoundError: Failed resolution of: Lcom/squareup/spoon/SpoonRule`
That's what I have is buld.gradle:
[code]
I also tried to add dependency to spoon itself, but it doesn't help. I'm able to use Falcon methods, only FalconSpoonRule is a problem.
Gradle build is successful, error appears in runtime (tests a

[2018-03-01 15:26] jraska commented on #34
Hello, thanks for using the library.

From the first look it does not seem right to me that you have both dependencies as `implementation` and `androidTestImplementation`. If you are using it in main app it should be only `implementation`, if only in UI tests then it should be only `androidTestImplementation` only. Same for the Spoon dependency.

I can also see there is `'com.android.support.test:

[2018-03-01 15:40] kocel commented on #34
Yeah, I know, I just wanted to show that I tried in both scopes. Error occurs when both dependencies are only in `androidTestImplementation`. I just added 'com.android.support.test:rules:1.0.1' but still the same.

[2018-03-05 23:31] jraska commented on #34
Hello again, I tried and works fine for me once I added

[code]

to `build.gradle` and when i added:

[code]

[2018-03-06 09:41] kocel commented on #34
That worked, thanks a lot!

[2018-03-06 09:41] #34 closed

[2018-06-09 17:45] tir38 opened #35 "Update Readme"
Can you update the README to make it clear that you still need to declare

[code]

even if you are using

[code]

I initially didn't include the `falcon` dependency since I assumed that it would be pulled in as part of `falcon-spoon-compat`. But when I did I got the following runtime error:

[code]

[2018-06-12 20:35] jraska commented on #35
Hello, thanks for reporting this. I will fix this once there will be a bit of time.

[2018-06-26 21:37] #35 closed

[2018-06-26 21:37] jraska commented on #35
Finally done ;) Thanks again

[2018-07-07 17:11] zeeshanalisayyed opened #37 "Crash: onMeasure() did not set the measured dimension by calling setMeasuredDimension()"
The following crash occurs on various layouts like **FrameLayout, CoordinatorLayout, RelativeLayout, TabLayout, android.support.v4.widget.NestedScrollView, AppBarLayout, Custom Views, CoordinatorLayout**, etc. The crash happens mostly while I touch/swipe on any view which is in a ListView inside ViewPager and tabs. App does not crash without using Falcon.

[code]

Following is the same exception b

[2018-07-10 09:32] zeeshanalisayyed commented on #37
Hi,

Thank you!

There is no pattern or test case I ever found to reproduce the crash, but it mostly happens when I swipe (up|down|left|right) and tap faster to navigate through items in the lists and tabs. While testing, I am hardly able to reproduce it doing the fast interaction but in live I can see many crashes related to this particular crash on crashlytics, and when I remove falcon, this cra

[2018-07-18 20:52] jraska commented on #37
Hello again,

I think this is more likely a problem within Android layouts, which is indirectly triggered by Falcon, because in the end everything Falcon does is calling `View.draw(Canvas canvas)`. While looking at this method docs you can find the following:
[code]

By searching I found several people having this issue in different situations and my guess is you try to do screenshot too early wit

[2018-07-18 20:52] #37 closed

[2018-08-21 08:02] TimoPtr opened #38 "Usage of Undocumented API (API 29)"
Your tool use reflection on some Field which are block by the SDK on API 28. When the target is 28 you get an Exception :
`
com.jraska.falcon.Falcon$UnableToTakeScreenshotException: java.lang.NoSuchFieldException: Field mWindowTop not found for class class android.view.View$AttachInfo`

See the documentation here :
https://developer.android.com/about/versions/pie/restrictions-non-sdk-interfaces

A

[2018-08-21 10:54] jraska commented on #38
Hello, thanks for reporting this.

I will try to find some workaround for this. Apparently other reflection seems to work since Falcon takes other fields in flow before accessing this one so lets see if we could use some thing else or better APIs are present in API 28 so less or none reflection is needed.

[2018-08-22 16:29] jraska commented on #38
Please have a look at version 2.1.0

`androidTestCompile 'com.jraska:falcon:2.1.0'`

It should work now on Android 9.

Please let me know if it helped :)

[2018-08-24 14:30] TimoPtr commented on #38
It works very well. Thanks you ;)

[2018-10-22 09:04] thomaschampagne opened #43 "Impossible to capture shadows around components"
Hi @jraska,

We dig into your library last week to take screenshots in our android app. You've done an amazing work and results are almost perfect for us.

We were not able to capture shadows around material components: Card, Floating Action Buttons, ... (https://material.io/develop/android/).

On a generic aspect, did you try to capture shadows? Is this something technically possible for you?

Th

[2018-10-22 15:35] jraska commented on #43
Hello Thomas,

It's great to here the library works for you, even if it is almost :D

I'm not sure if it is possible. What Falcon is doing is it grabs all the windows of the app like dialogs and screen itself and then draws these views into bitmap [here].(https://github.com/jraska/Falcon/blob/55ea74028dc88bf0404b62b2255c2c28b6216d14/falcon/src/main/java/com/jraska/falcon/Falcon.java#L177)

If from

[2018-12-14 19:37] jraska commented on #43
Hello, after finally looking into that I found following:
Shadows are hardware accelerated, therefore the View hierarchy caching, which is Falcon using by drawing method into Canvas. I found that out [here](https://stackoverflow.com/questions/49976062/hardwareaccelerated-false-removes-elevation) and it makes perfect sense I just didn't realise it before.

Therefore I'm sorry, but capturing shadows

[2018-12-14 19:37] #43 closed

[2018-12-19 19:05] thomaschampagne commented on #43
@jraska Thanks for your investigation !

[2019-04-25 17:46] tir38 opened #45 "Shading or packaging Spoon dependency"
We were initially using Spoon + Falcon. We then switched to using [Composer](https://github.com/gojuno/composer) + Falcon. We kept using Falcon cause it's a great library and because it will in-turn match Spoon's file location format, which is needed for Composer [read more](https://github.com/gojuno/composer/issues/10#issuecomment-379032049)

The problem we are facing now is that Falcon still dep

[2019-04-25 21:43] trevjonez commented on #45
You should be able to force a certain version of spoon to avoid all that snapshot lookup work

[2019-04-27 11:21] jraska commented on #45
Hello,

Thanks for reaching out and for using the library.

If I understand correctly you are not using Spoon anymore and you use Composer instead, so maybe getting rid of the Spoon dependency completely is a way?
If you want Falcon without Spoon dependency Falcon has a separate `falcon` artifact. Only `falcon-spoon-compat` artifact is dependent on Spoon. You could use method:
`Falcon.takeScreensh

[2019-05-03 22:02] tir38 commented on #45
Yeah so that's kinda the problem. We don't need spoon, only the spoon-esque file structure.

It's also tough for Falcon since you don't directly care how Spoon works (you just take the file they create and overwrite it:

[code]

So Falcon can always depend on Spoon Snapshot and it's guaranteed to work.

Ideally Composer should define and expose its own pattern (even if that pattern is identical to

[2019-05-03 22:02] #45 closed

[2019-05-03 23:45] trevjonez commented on #45
Iirc you need only replicate the spoon logic for file path generation into a composer runtime module then any screenshot engine can do the required work.

[2019-05-14 08:55] nikoskyr opened #46 "Falcon enhancement to work with AirBnb's Lottie animations"
Hello,

I am trying to take multiple screenshots from a Lottie animation which is used in my app but it seems that Falcon takes a screenshot only from the very first instance of the animation and not the whole movement.

Is it a known issue? Can the Falcon be enhanced in order to cover this incompatibility?

Thanks a lot in advance!!!

Best regards,
Nikos

[2019-05-16 09:19] jraska commented on #46
Hello Nikos,

Thanks for using Falcon and raising the issue ;)

Unfortunately I don't think this is possible for Falcon to solve.

Falcon works basically by delegating on views drawing themselves into Canvas `View.draw(Canvas canvas)` method. Therefore delegating to `LottieAnimationView` in this case. I would guess Lottie is quite advanced with animations, which goes beyond this simple drawing.

S

[2019-05-16 13:32] nikoskyr commented on #46
Hello Josef,

Thanks a lot for the prompt reply.

Fully understood. If we can't solve this problem, then I guess we should close the issue.
Unfortunately, I can't think anything to find a workaround about this.

Best regards,
Nikos

[2019-05-16 22:49] jraska commented on #46
Thanks for understanding.

Best regards,

Josef

[2019-05-16 22:49] #46 closed

[2019-05-17 03:29] trevjonez commented on #46
@nikoskyr maybe give https://github.com/Muddz/PixelShot a _shot?_

[2019-06-14 08:43] RowlandOti opened #47 "Screenshot not Capturing Overlay"
![device-2019-06-14-114043](https://user-images.githubusercontent.com/8356008/59496063-55139d00-8e99-11e9-8ef3-f1f870a3292e.png)

Attempted to take a screenshot of the background, so that I could blur it when showing the dialog. However, Falcon screenshot generates only a Bitmap with the Activity view, and completely ignoring the overlay that contains a Fragment.

For example:

![device-2019-06-14

[2019-06-15 20:47] jraska commented on #47
Hello Rowland,

Falcon takes screenshot of the Activity you provide into. If multiwindow means multi-activity, then Falcon currently takes screenshot only of the activity you provide as a parameter.

Which activity owns the overlaying window? The issue seems like Falcon makes screenshot of other than the activity with the overlay.

Thanks

[2019-06-17 16:32] RowlandOti commented on #47
Hi, @jraska this is how i use it:

[code]

It just does not show the FrameLayout overlay that holds the Fragment, the host being this same Activity.

[2019-06-21 20:40] jraska commented on #47
Hmm, with assumption `blurDialogView` is the one you miss on the screenshot, maybe the issue could be that the visibility is set, but the view is not drawn yet.

Visibility is visible, but unless `onMeasure` and other callbacks happen, this view will not be visible, because it synchronously does not draw itself. You could give it a try by taking the screenshot with one second delay or something li

[2019-07-03 14:14] jraska commented on #47
Hello Rowland, do you still experience the issue?

[2019-07-04 11:52] ChanSek commented on #38
I am facing this crash in 2.1.1 too. And it started occurring after I migrated my project to androidx.

[2019-07-14 16:40] jraska commented on #38
Hello @ChanSek ,

Can you please send me a stack trace you are getting with a note about using undocumented API?

Thank you.

[2019-07-29 23:39] jraska commented on #47
Closing due to no activity

[2019-07-29 23:39] #47 closed

[2019-07-30 06:56] Go-oG opened #48 "can not cature webview"
In one of my only WebView activities, I can't capture the contents of the WebView. Other Views can be capture.

[2019-07-31 10:19] jraska commented on #48
Hello, Falcon relies completely on the `View.draw(Canvas)` method. Since WebView is quite special and most likely works differently than standard Android views, Falcon unfortunately cannot capture this view correctly. Sorry

[2019-08-01 11:57] 1hakr commented on #38
@jraska i'm getting this error. It works fine for target Sdk Version 28 but with 29 it crashes.

`    Caused by: java.lang.NoSuchFieldException: Field mWindowTop not found for class class android.view.View$AttachInfo
        at com.jraska.falcon.Falcon.findField(Falcon.java:347)
        at com.jraska.falcon.Falcon.getFieldValueUnchecked(Falcon.java:329)
        at com.jraska.falcon.Falcon.getField

[2019-08-02 02:11] Go-oG commented on #48
Ok, thank you for your reply.

[2019-08-02 02:11] #48 closed

[2019-08-02 16:34] jraska commented on #38
Thanks a lot for the stack trace.

Some new methods were blacklisted. I will have to look into it and figure out if we can avoid using reflection for these fields triggering errors.

[2019-08-05 17:52] jraska commented on #38
@1hakr Can you please check which version of Falcon you are using? In the stack trace I see the field `mWindowTop`, which was removed from the reflection part as part of the update: https://github.com/jraska/Falcon/pull/39.

Please check again with Falcon version `2.1.1`. Thanks

[2019-08-05 17:56] 1hakr commented on #38
@jraska , i checked and i'm not getting the crash anymore, strange!

[2019-09-10 17:33] jraska commented on #38
I checked again version `2.1.1` with API 29 and seems to work ok for me. Closing now

[2019-09-10 17:33] #38 closed

[2020-09-21 05:44] zohaib1sahni commented on #3
How could you close this issue without providing a solution?
There must be an update with solution for camera screen shot.

[2020-09-21 10:00] jraska commented on #3
Hi @zohaib1sahni, which solution would you suggest?

The issue was closed as there is no known ways for Falcon how to access this kind of views, which draw from native code and do not paint anything on `View#onDraw(Canvas)`, which is how Falcon captures the screenshots.

[2020-10-21 16:27] jraska opened #50 "Add Kotlin examples"
java is too old school :P

[2020-11-17 08:25] build3r opened #51 "Fails to capture screenshot with hardware bitmaps"
The app crashes because the device does not support hardware bitmaps.
Device: Xiaomi Redmi 6 Pro
Os: 8.1.0, MIUI Global 10.0
Logs:
[code]

[2020-11-18 16:31] jraska commented on #51
Hey, thanks for the issue.

I don't think Falcon is a cause of this. All what Falcon does is drawing the layout into bitmap. This is done by calling draw(Canvas) method.

The error seems to be caused somewhere within the view drawing. Falcon itself doesn't use any hardware support.

The error disappears when removing Falcon?
If so then I would need a standalone example to reproduce, but I'm afraid

[2020-11-18 16:34] jraska commented on #51
`coil.drawable.CrossfadeDrawable` this line seems to be the one using the HW drawing. As the error says we seem not to be able to capture such bitmap into canvas.

[2020-11-19 08:46] build3r commented on #51
@jraska You are right that the hardwarebitmaps were drawn by coil Imageloading library.
The app/library crashes when there are images loaded with coil Image loading library.

By disabling hardwarebitmaps the screenshot functionality works.
Apparently hardware bitmaps is a major optimization for drawing on canvas.
Quote by @colinrtwhite (Coil  image loading library contributor)

May be Falcon can a

[2020-11-19 19:28] colinrtwhite commented on #51
@jraska I believe the [`PixelCopy`](https://developer.android.com/reference/android/view/PixelCopy) APIs are needed to grab a screenshot of a view using hardware bitmaps.

@build3r You can disable hardware bitmaps using `ImageLoader.allowHardware(false)` to work around this issue - though this will use software bitmaps on API 26+ which are slower and consume more memory.

[2020-11-20 09:11] build3r commented on #51
@colinrtwhite Already did disable hardware bitmaps as a quick fix.
@jraska But I believe screenshot tool should be agnostic of how the bitmaps were drawn. May we add the support using PixelCopy as mentioned above. Please let me know if I can help in anyway.

[2020-11-22 13:38] jraska commented on #51
Hey, although I agree this shouldn't be a problem for screenshots, by some investigation it seems lke a large task.

### For Context
It is important to explain that Falcon works on the level of Windows and root views and puts the different windows(Dialogs, Activity Window) into one bitmap in proper order and with correct offsets.

https://github.com/jraska/Falcon/blob/bf8100136eee32cc64e7e93746eb7

[2021-01-17 12:14] jraska commented on #51
Hey @build3r , pleas did you get a chance to try the PixelCopy for your case? :) Thanks

[2021-01-18 08:02] build3r commented on #51
@jraska I did try a workaround using `bitmap.copy(Bitmap.Config.RGBA_F16, true)` which I thought would change the the way bitmaps are drawn dynamically but that was a **dead end**. For my use case i was using coil only on two screens so it was quicker to just disable hardware bitmaps on those screens.

[2021-01-18 08:09] build3r commented on #51
However I did find this project which successfully uses PixelCopy Api for taking screenshots
https://github.com/bolteu/screenshotty
Implementation:
https://github.com/bolteu/screenshotty/blob/master/screenshotty-lib/src/main/java/eu/bolt/screenshotty/internal/pixelcopy/PixelCopyDelegateV26.kt
Though this falls back on MediaProjection api when the above fails, which might be too much for many use c

[2021-01-18 19:26] jraska commented on #51
Thanks a lot @build3r for answer and for these references. :)

As far as I understand you are not blocked anymore?
If not, I will close this issue and possibly follow up with a PixelCopy implementation, however I'm not sure when I will have time for i. It seems like a large task to rewrite it and maintain properly along the current implementation.

[2021-01-19 09:48] build3r commented on #51
@jraska Thanks for the consideration, I too understand its a big effort to port over to Pixel copy. But in the mean time we can handle the crash due to hardware drawables and also mention it in readme. Its better to skip an hardware accelerated image than to crash the library/app.
Let me know if you think the above suggestion make sense will send a PR with the fix,

[2021-01-30 15:25] jraska commented on #51
Hey, so it depends what would be the failover scenario?

If it would be be silently no screenshot then I would argue crash is actually better, because this would bring the engineers here and complain, which is what I prefer instead of silently not taking the screenshot. If we keep the crash we would know better who actually have the same problem.

Or which type of handling do you have in mind?

[2021-02-04 23:05] jraska opened #52 "Migrate to Maven Central"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Edit: **UPDATE 4/27/2021:** We listened to the community and will keep JCenter as a read-only repository indefinitely. Our customers and the community can continue to rely on JCenter as a reliable mirror for Java packages.

[2021-02-25 20:53] jraska commented on #51
Please reopen the issue if some new info will come :) Now I'm closing it as inactive.

[2021-02-25 20:53] #51 closed

[2021-05-05 13:39] Jawnnypoo commented on #52
Lots of folks are looking to remove jcenter entirely from their builds, due to their recent brown-outs and unreliability. You should at least give mention to the alternative: `com.github.jraska.Falcon:falcon:2.1.1` from Jitpack.io

[2021-05-10 21:43] jraska commented on #52
@Jawnnypoo there is a `com.github.jraska.Falcon:falcon:2.1.1` artifact on Jitpack? Do you have any link please? It seems there is a copy that I'm not aware about and not published by me.

[2021-05-11 21:23] jraska commented on #52
Ah I see :) well let's say I wouldn't recommend Jitpack - I can recall few cases where it's availability was terrible and it killed our CI for few days and large part of dev experience.

Of course if Falcon would be the last remaining artifact on `jcenter`, then it could be a way to go, before Falcon appears on Maven Central

[2021-05-11 21:46] Jawnnypoo commented on #52
Agreed, just thought I'd mention its a viable alternative.

[2021-05-23 14:55] jraska commented on #52
https://issues.sonatype.org/browse/OSSRH-69305

[2021-05-24 22:35] jraska commented on #52
Falcon is now in [Maven Central](https://repo1.maven.org/maven2/com/jraska/falcon/) starting with [the version `2.2.0`](https://github.com/jraska/Falcon/releases/tag/2.2.0).
[code]

[2021-05-24 22:35] #52 closed

[2021-05-25 17:53] Jawnnypoo commented on #52
Yay thanks for doing this!

[2021-06-04 10:34] KanwalKhan-20 opened #63 "How to take screenshot of textureview alongwith otherviews ?"
How to take screenshot of textureview alongwith otherviews ?

[2021-06-04 18:14] jraska commented on #63
Hi @KanwalKhan-20 , thanks for reaching out.

The answer is very similar to [this issue](https://github.com/jraska/Falcon/issues/13#issuecomment-238372895) also the one with [Google Maps](https://github.com/jraska/Falcon/issues/24#issuecomment-325746817) or with [Lottie](https://github.com/jraska/Falcon/issues/46#issuecomment-492989057)

Falcon cannot take screenshot from TextureView or any other

[2021-06-12 09:09] #63 closed

[2021-07-15 12:15] waning007 opened #64 "高德地图使用问题"
高德地图导航过程中,截取到的地图部分view是空的

[2021-07-15 13:29] jraska commented on #64
Hi, please only conversation in English is supported :) ideally with examples of any problem.

Thanks

[2021-07-15 13:29] #64 closed

[2021-11-29 17:34] BaLaLaLs opened #66 "react-native webview canvas Black screen"
i use in react-native，code
![image](https://user-images.githubusercontent.com/23353559/143914132-5f979d7e-a15f-4d94-8607-790ef90fd423.png)
When I trigger the screenshot i get this
![image](https://user-images.githubusercontent.com/23353559/143914480-82b0d769-24fc-42aa-b040-cb96c016fbf6.png)
Normally, it should be
![image](https://user-images.githubusercontent.com/23353559/143914722-0346b488-548c-4

[2021-12-06 21:21] jraska commented on #66
Hi @BaLaLaLs , thanks for reaching out.

I think the answer might very similar to [this issue](https://github.com/jraska/Falcon/issues/13#issuecomment-238372895) also the one with [Google Maps](https://github.com/jraska/Falcon/issues/24#issuecomment-325746817) or with [Lottie](https://github.com/jraska/Falcon/issues/46#issuecomment-492989057)

The react-native WebView might be using some different

[2022-01-28 05:14] devashish-gopalani-cognoai opened #67 "Values are not getting reflected in screenshot for AutoCompleteTextView and TextInputEditText"
My activity consists of a couple of AutoCompleteTextView and TextInputEditText which are wrapped in TextInputLayout. The issue which I am facing is that when I take the first screenshot, all the details get captured perfectly. Later on, when we edit the AutoCompleteTextView and TextInputEditText fields and if we were to take a screenshot, the details are not reflected.

Could you please help with

[2022-01-31 10:49] #66 closed

[2022-01-31 11:05] jraska commented on #67
Hi Devanshish,

I worry that I cannot help you much here, sorry.

The way how Falcon works is using the `onDraw(Canvas)` method on root views.  Falcon doesn't go into the level of individual views and relies on the fact how views draw themselves into the `Canvas`.
If from some reason some particular view as in this case the views inside the `TextInputLayout` don't draw themselves properly, Falcon

[2022-01-31 11:11] #50 closed

[2022-01-31 14:09] devashish-gopalani-cognoai commented on #67
Got it! Thanks for your reply @jraska 😄

[2022-01-31 14:09] devashish-gopalani-cognoai commented on #67
Got it! Thanks for your reply @jraska 😄

[2022-03-31 18:51] blockjke opened #69 "PreviewView"
Hello, help me please. I need to screen cameraview, but screenshot saves everything (buttons etc.) besides previewview

        previewView = findViewById(R.id.view_finder);

                imageButtonCapture = findViewById(R.id.camera_capture_button);
        imageButtonCapture.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View view) {

[2022-04-18 10:31] Android355 commented on #37
@zeeshanalisayyed Hi, did you manage to solve this problem?